@model PageModel<DayModel>

@{
    ViewBag.Title = Html.LocalizationString("day_list");
}

<div class="row">
    <div class="pull-left">
        <h3>@ViewBag.Title</h3>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        
    }
</div>
<hr />

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>@Html.LocalizationString("code")</th>
                <th>@Html.LocalizationString("value")</th>
                <th>@Html.LocalizationString("description")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td><a href="/day/detail/@item.Code">@item.Code</a></td>
                    <td>@item.Value</td>
                    <td>@item.Description</td>
                </tr>
            }
            @{
                if (Model.HasNextPage || Model.HasPreviousPage)
                {
                    <tr>
                        <td colspan="4" align="center">
                            <ul class="pagination">
                                @if (Model.HasPreviousPage)
                                {
                                    <li><a href="~/day/all/@(Model.Number-1)">&laquo;</a></li>
                                }
                                <li><a href="~/day/all/@(Model.Number)">@(Model.Number)</a></li>
                                @if (Model.HasNextPage)
                                {
                                    <li><a href="~/day/all/@(Model.Number+1)">&raquo;</a></li>
                                }
                            </ul>
                            <br />
                            <span class="label label-primary">@Html.LocalizationString("total_page_count") : @Model.TotalPageCount</span>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>