@model PageViewModel<UserViewModel>

@{
    ViewBag.Title = Html.LocalizationString("all_users_title");
}

<h3>@ViewBag.Title</h3>
<hr />

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th></th>
                <th>@Html.LocalizationString("name")</th>
                <th>@Html.LocalizationString("email")</th>
                <th>@Html.LocalizationString("user_role")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                var val = item.IsActive ? Html.LocalizationString("btn_deactivate") : Html.LocalizationString("btn_activate");
                var buttonCss = item.IsActive ? "btn-warning" : "btn-success";
                <tr>
                    <td>
                        @if (User.Identity.GetId() != item.Id)
                        {
                            <button class="btn btn-sm @buttonCss btnAction" data-toggle="modal" href="#DeactivateModal" data-id="@item.Id" data-isactive="@item.IsActive">@val</button>
                        }
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td><a href="/admin/users/@item.RoleId">@item.RoleName</a></td>
                </tr>
            }
            @{
                if (Model.HasNextPage || Model.HasPrevPage)
                {
                    <tr>
                        <td colspan="4" align="center">
                            <ul class="pagination">
                                @if (Model.HasPrevPage)
                                {
                                    <li><a href="~/admin/users/@ViewBag.RoleId?page=@(Model.PageNumber - 1)">&laquo;</a></li>
                                }

                                <li><a href="~/admin/users/@ViewBag.RoleId?page=@(Model.PageNumber)">@(Model.PageNumber)</a></li>

                                @if (Model.HasNextPage)
                                {
                                    <li><a href="~/admin/users/@ViewBag.RoleId?page=@(Model.PageNumber + 1)">&raquo;</a></li>
                                }
                            </ul>
                            <br />
                            <span class="label label-primary">@Html.LocalizationString("total_page_count") : @Model.PageCount</span>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @Html.AntiForgeryToken()
</div>

<div class="modal fade" id="DeactivateModal" tabindex="-1" role="dialog" aria-labelledby="lblDeactivateModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Html.LocalizationString("modal_title_users")</h4>
            </div>
            <div class="modal-body">
                @Html.LocalizationString("modal_body_users")
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">@Html.LocalizationString("btn_cancel")</button>
                <button class="btn btn-success" id="btnModalAction" name="btnModalAction" data-id="" data-isactive="">@Html.LocalizationString("btn_save")</button>
            </div>
        </div>
    </div>
</div>

@section script
{
    <script>
        $(function () {
            var textActivate = "@Html.LocalizationString("btn_activate")";
            var textDeactivate = "@Html.LocalizationString("btn_deactivate")";

            $("button#btnModalAction").click(function () {
                var id = $(this).data("id");
                var isActive = $(this).data("isactive");

                console.log(id);
                console.log(isActive);

                $.ajax({
                    url: "/User/ChangeStatus",
                    type: "POST",
                    data: "id=" + id + "&isActive=" + isActive + "&__RequestVerificationToken=" + $('input[name="__RequestVerificationToken"]').val(),
                    success: function (r) {
                        if (r && r.Ok) {
                            if (isActive) {
                                $("a[data-id='" + id + "']").removeClass("btn-warning").addClass("btn-success").data("isactive", false).html(textActivate);
                            }
                            else {
                                $("a[data-id='" + id + "']").removeClass("btn-success").addClass("btn-warning").data("isactive", true).html(textDeactivate);
                            }

                            $("#DeactivateModal").modal('hide');
                        } else {
                            //todo:warning
                        }
                    }
                });
            });
        });
    </script>
}