@model UserModel

@{
    ViewBag.Title = Html.LocalizationString("new_user_title");
}

<div class="col-lg-5">
    <h3>@ViewBag.Title</h3>
    <hr />

    <form id="frm" name="frm" action="/user/new" method="post">
        @Html.Partial("_Msg")
         
        <div class="col-lg-12">
            <strong>@Html.LocalizationString("name")</strong>
            <input type="text" class="form-control input-lg" name="name" id="name" value="@Model.Name" />
        </div>

        <div class="col-lg-12">
            <strong>@Html.LocalizationString("email")</strong>
            <input type="text" class="form-control input-lg" name="email" id="email" value="@Model.Email" />
        </div>

        <div class="col-lg-12">
            <strong>@Html.LocalizationString("password")</strong>
            <input type="password" class="form-control input-lg" name="password" id="password" value="@Model.Password" />
        </div>

        @Html.AntiForgeryToken()

        <div class="col-lg-12">
            <input type="submit" value="@Html.LocalizationString("btn_sign_up")" class="btn btn-primary btn-lg" />
        </div>
    </form>
</div>

@section script
{
    <script>
        $(function () {
            $("form#frm").validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 5
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    name: {
                        required: true,
                      }
                },
                messages: {
                    password: {
                        required: "*",
                        minlength: "*"
                    },
                    email: "*",
                    name: "*"
                }
            });
        });
    </script>
}