@model PageModel<MetaDataModel>

@{
    ViewBag.Title = Html.LocalizationString("metadata_items_title");
}

<h3>@ViewBag.Title</h3>
<hr />

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>@Html.LocalizationString("name")</th>
                <th>@Html.LocalizationString("value")</th>
                <th>@Html.LocalizationString("description")</th>
                <th>@Html.LocalizationString("url")</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(item.ImageUrl))
                        {
                            <img src="@item.ImageUrl" alt="@item.Name" />
                        }

                        @item.Name
                    </td>
                    <td>@item.Value</td>
                    <td>@item.Description</td>
                    <td>@item.Url</td>
                </tr>
            }


        </tbody>
    </table>
    @Html.AntiForgeryToken()
</div>