@model PageModel<MetaDataModel>

@{
    ViewBag.Title = Html.LocalizationString("metadata_items_title");
}

<h3>@ViewBag.Title</h3>
<hr />

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>@Html.LocalizationString("name")</th>
                <th>@Html.LocalizationString("value")</th>
                <th>@Html.LocalizationString("description")</th>
                <th>@Html.LocalizationString("url")</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(item.ImageUrl))
                        {
                            <img src="@item.ImageUrl" alt="@item.Name" />
                        }

                        @item.Name
                    </td>
                    <td>@item.Value</td>
                    <td>@item.Description</td>
                    <td>@item.Url</td>
                </tr>
            }
            @{
                if (Model.PageCount > 1)
                {
                    <tr>
                        <td colspan="4" style="text-align: center;">
                            <ul class="pagination">
                                @if (Model.HasPrevPage)
                                {
                                    <li><a href="~/data/detail/@Model.Items.?page=@(Model.PageNumber - 1)">&laquo;</a></li>
                                }

                                <li><a href="~/data/detail/@Model.Items?page=@(Model.PageNumber)">@(Model.PageNumber)</a></li>

                                @if (Model.HasNextPage)
                                {
                                    <li><a href="~/data/detail/@Model.Items?page=@(Model.PageNumber + 1)">&raquo;</a></li>
                                }
                            </ul>
                            <br />
                            <span class="label label-primary">@Html.LocalizationString("total_page_count") : @Model.PageCount</span>
                        </td>
                    </tr>
                }
            }


        </tbody>
    </table>
    @Html.AntiForgeryToken()
</div>