@using System.Diagnostics.Contracts.Internal
@model PageModel<MetaDataModel>

@{
    ViewBag.Title = Html.LocalizationString("user_apps_title");
}

<h3>@ViewBag.Title</h3>
<hr />

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th></th>
                <th>@Html.LocalizationString("app_name")</th>
                <th>@Html.LocalizationString("description")</th>
                <th>@Html.LocalizationString("url")</th>
                <th>@Html.LocalizationString("usage_count")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                var val = item.IsActive ? Html.LocalizationString("btn_deactivate") : Html.LocalizationString("btn_activate");
                var buttonCss = item.IsActive ? "btn-warning" : "btn-success";
                <tr>
                    <td>
                        <a class="btn btn-sm @buttonCss btnAction" data-toggle="modal" href="#DeactivateModal" data-id="@item.Id" data-isactive="@item.IsActive">@val</a>
                    </td>
                    <td><a href="/app/detail/@item.Id">@item.Name</a></td>
                    <td>@item.Description</td>
                    <td><a href="@item.Url">@item.Url</a></td>
                    <td>@item.UsageCount</td>
                </tr>
            }


        </tbody>
    </table>
    @Html.AntiForgeryToken()
</div>

@if (User.Identity.GetRoleName() == ConstHelper.Admin)
{
  //popup
}