@model MetaDataViewModel

@{
    ViewBag.Title = Html.LocalizationString("new_meta_data_title");
}

<div class="col-lg-5">
    <h3>@ViewBag.Title</h3>
    <hr />

    <form id="frm" name="frm" action="/data/new" method="post">
        @Html.Partial("_Msg")

        <div class="col-lg-12">
            <strong>@Html.LocalizationString("meta_data_type")</strong>
            <input type="text" class="form-control input-lg" name="Type" id="Type" value="@Model.Type" />
        </div>
        
        <div class="col-lg-12">
            <strong>@Html.LocalizationString("meta_data_parent_name")</strong>
            <input type="text" class="form-control input-lg" name="ParentKey" id="ParentKey" value="@Model.ParentKey" />
        </div>

        <div class="col-lg-12">
            <strong>@Html.LocalizationString("meta_data_name")</strong>
            <input type="text" class="form-control input-lg" name="Key" id="Key" value="@Model.Key" />
        </div>
        
        <div class="col-lg-12">
            <strong>@Html.LocalizationString("meta_data_value")</strong>
            <input type="text" class="form-control input-lg" name="Value" id="Value" value="@Model.Value" />
        </div>

        <div class="col-lg-12">
            <strong>@Html.LocalizationString("description")</strong>
            <input type="text" class="form-control input-lg" name="Description" id="Description" value="@Model.Description" />
        </div>
        
        <div class="col-lg-12">
            <strong>@Html.LocalizationString("image_url")</strong>
            <input type="text" class="form-control input-lg" name="ImageUrl" id="ImageUrl" value="@Model.ImageUrl" />
        </div>
        
        <div class="col-lg-12">
            <strong>@Html.LocalizationString("url")</strong>
            <input type="text" class="form-control input-lg" name="Url" id="Url" value="@Model.Url" />
        </div>

        @Html.AntiForgeryToken()

        <div class="col-lg-12">
            <input type="submit" value="@Html.LocalizationString("btn_save")" class="btn btn-primary btn-lg" />
        </div>
    </form>
</div>

@section script
{
    <script>
        $(function () {
            $("form#frm").validate({
                rules: {
                    Type: { required: true },
                    Key: { required: true },
                    Value: { required: true }
                },
                messages: {
                    Type: "*",
                    Key: "*",
                    Value: "*",
                }
            });
        });
    </script>
}

